html {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #282c35;
    color: #eee;
}

h1,
h2 {
    font-family: "Overpass Mono", monospace;
    text-transform: lowercase;
}

a,
a:visited {
    border-bottom: 1px solid #bdd5ea;
    text-decoration: none;
    color: #bdd5ea;
}

a:hover {
    border-bottom: 1px solid #829db8;
    text-decoration: none;
    color: #829db8;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    padding-top: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
    background-color: #282c35;
}

#header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    width: 90%;
    max-width: 1024px;
}

#header-content h1 {
    margin-right: auto;
}

#header-content a {
    margin-left: 50px;
    color: #eee;
    border: none;
    font-size: 150%;
    font-family: "Overpass Mono", monospace;
    text-transform: lowercase;
}

#header-content a:visited {
    color: #eee;
}

#header-content a:hover {
    color: #bbb;
    border: none;
}

section {
    margin: 2em auto;
    width: 90%;
    max-width: 1024px;
}

#about {
    width: 90%;
    margin: 10vh auto 20vh auto;
}

#about #hello {
    font-family: "Overpass Mono", monospace;
    text-transform: lowercase;
    font-size: 5em;
    margin-bottom: 0.2em;
}

#about p {
    font-size: 2em;
    margin-bottom: 1.25em;
}

.btn-outline-light:visited {
    color: inherit;
    border: inherit;
}

.btn-outline-light:hover {
    color: #282c35;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #eee;
    margin: 1em;
    width: 300px;
    background-color: transparent;
}

.card-body {
    padding-bottom: 5px;
}

footer {
    margin-top: 2.5em;
    font-size: smaller;
    font-family: "Overpass Mono", monospace;
    text-align: center;
    text-transform: lowercase;
}
